dashboard {

    .label{
        color:#000 !important;
    }

    .fab {
      contain: layout;
    }
  
    button[ion-fab] {
      overflow: visible;
      position: relative;
  
      ion-label {
          position: absolute;
          bottom: -6px;
          right: 40px;
  
          color:color($colors,light);
          //background-color: rgba(0,0,0,0.7);
          line-height: 24px;
          padding: 4px 8px;
          border-radius: 4px;
      }
    }
  }
  